nav {
  display: flex;
 justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
} 

.logo {
  height: 50px;
  width: 50px;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:300px;
}

/* .links Link{
  text-decoration: none;
  color: rgb(40, 39, 39);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 1rem;
} */

.btn {
  text-decoration: none;
  background-color: #5FDCC6;
  border-color: #5FDCC6 ;
  border-radius: 8px;
  color:black;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 1rem;

}

