.ambulance-card {
  height: 100px;
  width: 260px;
  display: flex;
  padding: 1px;
  justify-content: space-between;
  align-items: center;
}
p {
  color: azure;
  font-size: 12px;
}

.card2 {
  padding: 0px 0px 0px 0px;

  display: flex;
  justify-content: space-between;
}
.abu-detail {
  padding-right: 10px;
}
.abu-detail p {
  font-size: 12px;
  color: azure;
}
.abu-price {
  padding-left: 5px;
}
.abu-price .priceColor {
  font-size: 12px;

  color: #5fdcc6;
}
label {
  width: 100%;
  padding: 0px;
}

.card-input-element {
  display: none;
}

.card-input {
  margin: 10px;
}

.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked + .card-input {
  box-shadow: 4px 0 5px 4px #051d1e;
  border-radius: 8px;
  width: 100%;
}
div.scroll2 {
  margin: 4px, 4px;
  padding: 4px;

  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}
.scroll2::-webkit-scrollbar {
  width: 10px;
}
